*{
    margin:0px;
    padding:0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.heading{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    margin:auto;

}
.down-arrow{
    position: fixed;
    bottom:50px;
    right:20px;
    font-size: 30px;
    visibility: hidden;

}
.btn{
    color:blue;
}
.up-arrow{
    position: fixed;
    bottom:50px;
    right:70px;
    font-size: 30px;
    visibility: hidden
}
.main{
    width:100%;
    margin:auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;

}
.infocontainer{
    width:20vw;
    min-width: 270px;
    display:flex;
    flex-direction: column;
    border:2px solid rgb(11, 64, 143);
    border-radius: 10%;
    padding:10px;
    justify-content: space-evenly;
    margin-top: 50px;
    /* box-shadow: -3px -4px 10px black; */
    box-shadow: 0px 9px 5px -5px rgba(120,120,120,0.94);
-webkit-box-shadow: 0px 9px 5px -5px rgba(120,120,120,0.94);
-moz-box-shadow: 0px 9px 5px -5px rgba(120,120,120,0.94);

}
.infocontainer:hover{
    background-color:#ffe4c4 ;
}
.details{

    align-items: center;
    height:80%;
    margin:auto;
    margin-top:10px;
}
.image{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin:auto;
    border:3px solid gray;
}
.image:hover{
    transform: scale(1.04);

}
h4{
    margin:20px;
    font-weight: 400;
}

.details span{
    font-family: cursive;
    font-weight: 800;
}
.foot{
    width: 100%;
    max-width:400px;
    text-align: center;
    margin: auto;
    color:blue;
}
.navbar{
    width:100%;
    z-index: 10;

}
.navbar ul{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
li{
    display:block;
    margin:20px;
    color:white;;
    margin-top: 20px;
}
li a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding:15px;
    font-family: poppins;

    

}
.toggle-btn{
    position: absolute;
    z-index: 100;
    top:-35px;
    right:10px;
    color:white;
    font-size: 20px;
    display:none;
    
}

.cross-btn{
    position: absolute;
    z-index: 100;
    top:-50px;
    right:10px;
    color:white;
    font-size: 25px;
    visibility: hidden;

}
li a:hover{
    text-decoration: underline;
}

@media screen and (max-width:500px) {
    .main{
        overflow-x: hidden;
        width:100%
    }
    .heading{
        margin-top: 20px;
    }
    .infocontainer{
        width:300px;
        margin:auto;
        margin-top:40px;
        overflow:auto
    }
    .image{
        width:140px;
        height:140px;
        margin-top:20px;
    }
    .details{
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .menu{
        display:flex;
        flex-direction: column;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        position: fixed;
        background-color:beige;
        left:-100%;
        transition: 1s ;
    }
    .show-nav{
        background-color: beige;
        position: fixed;
        top:0px
    }
    .active{
        left:0%
    }
    .toggle-btn{
        display:block;
        color:black;
        top:15px;
        right:10px;
        visibility: visible;
        position: fixed;
    }
    .cross-btn{
        color:black;
        top:15px;
        right:10px;
        position: fixed;
        visibility: hidden;
        
    }
    .navbar{
        height:50px;
    }
    li{
        margin-top: 40px;
    }
    .btn-container{
        z-index: 1;
    }
    .up-arrow{
        font-size: 30px;
        position: fixed;
        bottom:50px;
        right:20px;
    }
     .down-arrow {
            font-size: 30px;
            position: fixed;
            bottom: 50px;
            right: 70px;
        }
}





